// layouts
$maxContainerWidth: 75rem;

// colors
$mainColor: #a786df;
$secondaryColor:#fec7d7;
$backgroundColor: #ffffff;
$textColor: #1b262c;

// can get more granular
$containerBackgroundColor: $backgroundColor;
$navColor: $backgroundColor;
$navLabelsColor: $textColor;
$socialProofBackgroundColor: #f4eeff;
$productBenefitsColor: $secondaryColor;
$productFeatureColor: $backgroundColor;
$testimonialsBackgroundColor: $secondaryColor;
$ctaBackgroundColor: $secondaryColor;
$buttonColor: $mainColor;
